<nav class="navbar navbar-expand-lg navbar-dark bg-dark">  
  <a class="navbar-brand" style="width: 15px;padding-top: 15px;"href="#">
        <!-- <img src="/assets/logoproject5.jpg" alt="" width="50" height="50" class="d-inline-block align-text-top bg-primary trans"> -->
       <i class="fa fa-vimeo-square bg-primary left"  aria-hidden="true" ></i></a><a class="navbar-brand" style="width: 15px;padding-top: 15px;"href="#">Vape community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav m-auto mt-2 mt-lg-0">
            <li class="nav-item active ">
                <a class="nav-link " routerLink="Home"><i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link left" routerLink="Boxes"><i class="fa fa-archive" aria-hidden="true"></i> Boxes</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link left" routerLink="Clearomizer"> Clearomizer</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle left" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-exchange" aria-hidden="true"></i>   Exchange
              </a>
              <ul class="dropdown-menu " aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
        </ul>
        <form class="d-flex  baredesearch">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <select class="left">
            <option>EN</option>
            <option>FR</option>
          </select>
          <button class="btn btn-warning ms-auto "><i class="fa fa-user" aria-hidden="true"></i> Login</button>
      <button class="btn btn-success m-auto"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Pannier</button>    
    </div>
</nav>